@model AspWebForm3.Models.UserModel
    @using (Html.BeginForm("Submit","Home",FormMethod.Post))
            {
                <table>
                    <tr>
                        <td> Enter Id :</td>
                        <td>@Html.TextBox("Id")</td>
                    </tr>
                    <tr>
                        <td> Enter Name :</td>
                        <td>@Html.TextBox("Name")</td>
                    </tr>
                    <tr>
                        <td> Addon :</td>
                        <td>@Html.CheckBox("Addon",false)</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit Form"/></td>
                    </tr>
                </table>
            }
<hr />
<b>Id : </b>@ViewBag.Id<br />
<b>Name : </b>@ViewBag.Name<br />
<b>Addon : </b>@ViewBag.Addon