@{
    ViewData["Title"] = "Home Page";
}

@model HelperAssignment.Models.LogicalModel
<h3 style="color:chartreuse">Lohical operation @*(Display greater no.)*@</h3>
@using (Html.BeginForm("Logical","Home",FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(m=>m.Num1)</td>
            <td>@Html.TextBoxFor(m=>m.Num1)</td>
           
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>m.Num2)</td>
            <td>@Html.TextBoxFor(m=>m.Num2)</td>
            
        </tr>
        
    </table>
    <br />
    <input type="submit" value="check" />
}
<hr />
<b>Greater no. is </b>@ViewBag.num

